.cpl-pg-template {
	max-width: 100%;
	width: var( --cp-content-width );
	padding: var(--cp-content-padding);
	color: var(--cpl--text-color);
	margin: var(--cp-gap--md) auto;

	.cpl-pagination {
		ul {
			display: flex;
			justify-content: center;

			li > div:hover {
				background: transparent;
			}
		}

		button, div {
			color: var(--cpl--text-color);
		}

	}
}
