.cpl-pg-template {
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: var(--cpl--text-color);

	.cpl-pagination {
		ul {
			display: flex;
			justify-content: center;

			li > div:hover {
				background: transparent;
			}
		}

		button, div {
			color: var(--cpl--text-color);
		}

	}
}
