.cpl-single {

	&--header {
		padding-bottom: 1rem;
		border-bottom: 1px solid;
		margin-bottom: 2rem;

		&--title {
			font-size: 2.25rem;
		}

	}

	&--back {
		margin-bottom: var(--cp-gap--md);
		display: inline-block;

		&:before {
			content: '← ';
		}
	}
}
