.cpl-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@include media-breakpoint-down(md) {
	.cpl-touch-hide {
		display: none !important;
	}
}

@include media-breakpoint-up(lg) {
	.cpl-touch-only {
		display: none !important;
	}
}
