@import 'admin/analytics';
@import 'admin/migrate';

#cpl_series_items_data {

}

.menu-icon-cpl_item, .menu-icon-cpl_item_type {
	li:nth-child(4),
	a[href="edit.php?post_type=cpl_template"],
	a[href="edit-tags.php?taxonomy=cpl_season&post_type=cpl_item"],
	a[href="edit-tags.php?taxonomy=cpl_season&post_type=cpl_item_type"] {
		border-top: 1px solid rgba(255, 255, 255, .25);
	}
}

.cp-radio-image li {
	label {
		display: block;
		text-align: center;
	}

	input {
		display: none;

		&:checked + label  {
			font-weight: bold;

			img {
				border-color: var(--wp-admin-theme-color);
			}
		}
	}

	img {
		border: 5px solid transparent;
		max-width: 160px;
		display: block;
		margin-bottom: .5rem;
		border-radius: 12px;
	}
}

.file-status {
	text-overflow: ellipsis;
	overflow: hidden;
}

.cpl_series_items_data {

	.cmb-remove-group-row {
		display: none;
	}

	.cmb-repeatable-grouping {

		.cmbhandle-title {
			color: #e9e9e9;
		}

		.cmbhandle-title span {
			display: none;
		}

		> .inside {
			> div:first-child {
				position: absolute;
				top: -4rem;
				border-bottom: 0;

				input:not(:focus) {
					background: transparent;
					border: none;
					border-bottom: 1px solid;
					border-radius: 0;
					font-weight: bold;
				}

				.cmb-th {
					display: none;
				}

				.cmb-td {
					float: none;
					margin-left: 1.5rem;
				}
			}
		}

		&.closed {
			> .inside {
				display: block;

				> div:not(:last-child):not(:first-child) {
					display: none;
				}
			}
		}

		.cmb-remove-field-row {
			padding: .5rem 0;
		}

		.cmb-type-multicheck-inline {

			ul {
				max-height: 5rem;
				overflow: scroll;
			}

			li {
				margin-bottom: 12px;
			}

			input:checked + label {
				font-weight: bold;
			}
		}

	}

}

#side-sortables {

	.cmb-row:last-child {
		margin-bottom: 0;

		.cmb2-metabox-description {
			padding-bottom: 0;
		}
	}

	#cpl_season_data,
	#cpl_scripture_data,
	#cpl_topic_data {
		.cmb-type-multicheck {
			max-height: 15rem;
			overflow: scroll;
			//margin-bottom: 0;
			box-sizing: border-box;
		}
	}

}

#cpl_scripture_metabox {

	.widefat {
		width: 95%;
		border: 1px solid gray;
		padding: 8px;
		border-radius: 4px;
		margin: 12px 0px;
		cursor: text;
		min-height: 25px;

		.cpl-scripture-tag {
			background-color: #e4e4e4;
			border: 1px solid #aaa;
			padding: 4px;
			border-radius: 4px;
			margin-right: 5px;
			margin-top: 5px;
			padding: 0 5px;
			cursor: not-allowed;
			pointer-events: none;
			display: inline-block;

			&::before {
				content: 'x';
				color: #999;
				cursor: pointer;
				display: inline-block;
				font-weight: bold;
				margin-right: 4px;
				pointer-events: initial;
			}
		}

	}

	#cpl-scripture-list,
	#cpl-scripture-list-chapter,
	#cpl-scripture-list-verse {
		margin-top: 0.5rem;
    	margin-left: 0.5rem;
		position: absolute;
    	top: 2rem;
    	z-index: 1;
		width: 75%;
		height: 350px;
		border: 1px solid lightgray;
		overflow: scroll;
		transition: all 0.2s ease-out;
		opacity: 1;
	}

	#cpl-scripture-list {

		#cpl-book-list {
			margin-top: 0;

			>li {
				background-color: #F8F8F8;
				padding: 8px;
				cursor: pointer;
				margin-bottom: 0;

				&:hover {
					background-color: #DFDFDF;
				}

				&.cpl-selected {
					background-color: #B2B2B2;
					cursor: not-allowed;
					pointer-events: none;
				}
			}
		}
	}


	#cpl-scripture-list-chapter,
	#cpl-scripture-list-verse {
		background-color: white;
		height: auto;

		#cpl-chapter-list,
		#cpl-verse-list {
			display: flex;
			flex-wrap: wrap;

			li {
				margin: 6px;
				border: 1px solid lightgray;
				padding: 8px 12px;
				border-radius: 4px;
				cursor: pointer;
				background-color: #F8F8F8;
				min-width: 24px;
				text-align: center;

				&:hover {
					background-color: #DFDFDF;
				}

				&.cpl-selected {
					background-color: #B2B2B2;
					cursor: not-allowed;
					pointer-events: none;
				}

				&.disabled {
					pointer-events: none;
					opacity: 0.4
				}

			}

		}

		.cpl-scripture-progress-display {
			font-size: 1rem;
			padding: 1rem;
		}

		.cpl-scripture-progress-content {
			padding-left: 1rem;
    		padding-right: 1rem;
		}

		.cpl-scripture-finish-progress {
			padding: 1rem;

			.button {
				margin-bottom: 1rem;
			}

			.cpl-finish-selection-icon {
				font-size: 2.5rem;
				padding-bottom: 1rem;
				margin-top: -0.7rem;
				float: right;
				margin-right: 1rem;
				cursor: pointer;
				color: green;
			}
		}

		a.cpl-scripture-cancel-modal {
			color: #b32d2e;
		}
	}

	.cpl-list-closed {
		height: 0px !important;
		opacity: 0 !important;
		// overflow: hidden;
	}

}

.cpl_admin_submit_button {
	position: relative;

	&.success {
		border-color: #007427;
		color: #007427;
	}
	&.success::before {
		content: "\e876";
		color: currentColor;
		font-family: "Material Icons";
		margin-right: 0.5em;
	}

	&.loading {
		padding-left: 3em;
	}

	&.loading::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotateZ(0deg);
		left: 1em;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		border: 2px solid currentColor;
		border-top-color: transparent;
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	to {
		transform: translateY(-50%) rotateZ(360deg);
	}
}

.cpl-import-transcript-btn {
	display: flex !important;
	align-items: center;
	gap: 0.5rem;

	&.success {
		border-color: #007427;
		color: #007427;
	}

	.cp-icon {
		display: flex;
	}

	.cp-icon svg {
		width: 20px;
		fill: currentColor;
	}
}
