.cpl-list-item {
	--cpl-list-item-gap: min(3.5vw, var(--cp-gap--sm, 1rem));
	--cpl-list-item-padding: var(--cp-gap--md);
	--cpl-list-item-thumb-width: max(17%, 100px);
	--cpl-list-item-content-height: 90%;
	--cpl-list-item-actions-mobile-display: flex;
	--cpl-image-aspect-ratio: auto;
	--cp-font-size: clamp( 10px, 3vw, 14px);
	padding: 0;
	position: relative;
	background: transparent;
	overflow: hidden;
	width: 100%;
	margin-top: var(--cp-gap--md);
	border-radius: var(--cp-border-radius);
	display: flex;
	flex-direction: row;
	gap: var(--cpl-list-item-gap);

	&--main {
		display: flex;
		flex-flow: column;
		justify-content: space-evenly;
		width: 100%;
		overflow: hidden;
	}

	&--columns {
		display: flex;
		flex-flow: row;
		width: 100%;
		min-height: var(--cpl-list-item-content-height);
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--cp-color-ui-inverted-light);
		opacity: .4;
		z-index: -1;
		top: 0;
		left: 0;
	}

	.cpl-info:first-child {
		display: none;
	}

	&--thumb {
		display: flex;
		align-items: center;
		cursor: pointer;
		overflow: hidden;
		border-radius: var(--cp-border-radius-sm);
		padding: var(--cpl-list-item-padding) 0 var(--cpl-list-item-padding) var(--cpl-list-item-padding);

		&--canvas {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			aspect-ratio: var(--cpl-image-aspect-ratio);
			object-fit: cover;
			width: 100%;
		}
	}

	&--thumb {
		flex: 0 0 var(--cpl-list-item-thumb-width);
		position: relative;
	}

	&--ratio-1x1 {
		--cpl-image-aspect-ratio: 1 / 1;
		--cpl-list-item-thumb-width: max(14%, 65px);
		--cpl-list-item-content-height: 80%;
	}

	&--ratio-4x3 {
		--cpl-image-aspect-ratio: 4 / 3;
		--cpl-list-item-thumb-width: max(15%, 75px);
	}

	&--ratio-16x9 {
		--cpl-image-aspect-ratio: 16 / 9;
		--cpl-list-item-thumb-width: max(17%, 100px);
	}

	&--details {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		padding: var(--cpl-list-item-padding) var(--cpl-list-item-padding) var(--cpl-list-item-padding) 0;

		> * {
			margin-bottom: 0;
		}
	}

	&--title {
		margin-top: 0;
		margin-bottom: .25em;
		font-size: clamp( 12px, 2.5vw, var(--cp-font-size-h5));
		line-height: 1.25;
	}

	.cpl-list-item--title {
		margin-top: 0;
	}

	.cpl-meta {
		font-size: clamp(10px, 2.25vw, var(--cp-font-size--sm));
		margin-top: auto;
		margin-bottom: 0;
		padding-top: var(--cp-gap-base);
		flex-flow: row;
		overflow: hidden;

		&--topics {
			overflow: hidden;

			&--topic {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&--actions {
		display: flex;
		height: 100%;
		align-self: center;
		padding: var(--cpl-list-item-padding) var(--cpl-list-item-padding) var(--cpl-list-item-padding) 0;

		button.cpl-list-item--to-item {
			color: currentColor;
			padding: 0;

			svg {
				color: currentColor;
				margin: 0;
			}
		}

	}

	&--actions--buttons {
		padding: var(--cp-ui--gap-y--sm);
		display: flex;
		gap: var(--cp-gap-base);
	}

	.cpl-meta,
	.cpl-info {
		white-space: nowrap;
		overflow: hidden;
		flex-flow: row;

		*:not(.material-icons-outlined) {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.cpl-meta {
		> * {
			border: none;
			padding: 0;
		}
	}

	@include media-breakpoint-down(md) {
		--cpl-list-item-padding: var(--cpl-list-item-gap);
		margin-top: var(--cpl-list-item-gap);

		.cpl-meta,
		.cpl-info {
			font-size: min(10px, 2.25vw, var(--cp-font-size--sm));

			> * {
				display: none;
			}

			> *:first-child, > *:nth-child(2) {
				display: flex;
			}
		}

		&--thumb {
			//--cpl-list-item-padding: calc(var(--cpl-list-item-gap) * .5);
		}

		&--title {
			line-height: 1;
		}

		.cpl-info:first-child {
			display: block;
			margin-bottom: 0;
		}

		&--details {
			justify-content: space-evenly;
		}

		.cpl-item--info {
			.cpl-item--types {
				display: none;
			}

		}

		.cpl-list-item--actions--buttons {
			padding: 0;
			flex-flow: column;
			align-items: stretch;

			button {
				width: 100%;
				padding: 0 calc( var(--cpl-list-item-gap) / 2 );
			}
		}
	}

	@include media-breakpoint-down(sm) {
		--cpl-list-item-padding: calc(var(--cpl-list-item-gap) * .5);
		--cpl-list-item-content-height: 100%;

		.cpl-info {
			> *:not(:first-child) {
				display: none;
			}

			> *:first-child {
				max-width: 100%;
			}
		}

		.cpl-meta {
			display: none;
		}

		.cpl-item--info {
			.cpl-item--locations {
				display: none;
			}
		}

		.cpl-list-item--actions {
			display: var(--cpl-list-item-actions-mobile-display);
			padding: 0;

			.cpl-list-item--actions--buttons {
				justify-content: stretch;
				gap: 0;

				> * {
					display: inline-flex;
					flex-grow: 1;
				}

				button {

					&.cpl-button--outlined {
						border: none;
					}

					svg {
						margin: 0;
					}

					span {
						display: none;
					}
				}
			}
		}
	}

	&--has-variations {

		.cpl-list-item {
			&--thumb {
				align-items: flex-start;
			}

			&--variations {
				.cpl-item--info {
					display: flex;
					margin-bottom: 0;
				}

				.cpl-list-item--columns {
					margin-top: var(--cp-gap--sm);
				}

				.cpl-list-item--details {
					justify-content: center;
				}
			}
		}

	}

}
