$gap: min(3.5%, var(--cp-gap--sm, 1rem));

.cpl-list-item {
	padding: var(--cp-gap--md);
	position: relative;
	background: transparent;
	overflow: hidden;
	width: 100%;
	margin-top: var(--cp-gap--md);
	border-radius: var(--cp-border-radius);
	display: flex;
	flex-direction: row;

	&--main {
		margin-left: $gap;
		display: flex;
		flex-flow: column;
		justify-content: space-evenly;
		width: 100%;
		overflow: hidden;
	}

	&--columns {
		display: flex;
		flex-flow: row;
		width: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--cp-color-ui-inverted-light);
		opacity: .4;
		z-index: -1;
		top: 0;
		left: 0;
	}

	.cpl-info:first-child {
		display: none;
	}

	&--thumb {
		display: flex;
		align-items: center;
		cursor: pointer;
		overflow: hidden;
		border-radius: var(--cp-border-radius-sm);

		&--canvas {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 100%;
			background-position: center center !important;
			//background-color: rgb(196, 196, 196);

			@include media-breakpoint-up(md) {
				padding-bottom: 62.5%;
			}
		}

		img {
			display: none;
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	&--thumb {
		flex: 0 0 17%;
	}

	&--details {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		//padding: var(--cp-ui--gap-y--sm);
		justify-content: space-between;
		overflow: hidden;

		> * {
			margin-bottom: var(--cp-gap-base);
		}
	}

	&--title {
		margin-bottom: var(--cp-gap-base);
		font-size: min(3.75vw, var(--cp-font-size-h5));
		line-height: 1.5;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.cpl-list-item--title {
		margin-top: 0;
	}

	.cpl-meta {
		font-size: min(2.75vw, var(--cp-font-size--sm));
		margin-top: 0;
		margin-right: $gap;
		flex-flow: row;
		overflow: hidden;

		&--topics {
			overflow: hidden;

			&--topic {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&--actions {
		display: flex;
		height: 100%;
		align-self: center;

		button.cpl-list-item--to-item {
			color: currentColor;
			padding: 0;

			svg {
				color: currentColor;
				margin: 0;
			}
		}

	}

	&--actions--buttons {
		padding: var(--cp-ui--gap-y--sm);
		display: flex;

		> * {
			margin-left: var(--cp-gap-base);
		}

	}

	.cpl-meta,
	.cpl-info {
		white-space: nowrap;
		overflow: hidden;
		flex-flow: row;

		*:not(.material-icons-outlined) {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@include media-breakpoint-down(md) {
		margin-top: min(3.5%,1rem);
		padding: min(3.5%,1rem);
		overflow: visible;
		padding-right: 1.5em;

		.cpl-meta,
		.cpl-info {
			font-size: min(2.75vw, var(--cp-font-size--sm));
		}

		.cpl-info:first-child {
			display: block;
			margin-bottom: 0;
		}

		&--details {
			justify-content: space-evenly;
		}

		.cpl-item--info {
			.cpl-item--types {
				display: none;
			}

		}

		.cpl-item--actions {
			position: absolute;
			right: -0.5em;
			top: 50%;
			margin-top: -1em;
			background: white;
			border-radius: 100px;
		}
	}

	@include media-breakpoint-down(sm) {
		.cpl-list-item--title,
		.cpl-info {
			margin-bottom: 0;
		}

		.cpl-item--info {
			.cpl-item--locations {
				display: none;
			}
		}
	}

	&--has-variations {

		.cpl-list-item {
			&--thumb {
				align-items: flex-start;
			}

			&--variations {
				.cpl-item--info {
					display: flex;
					margin-bottom: 0;
				}

				.cpl-list-item--columns {
					margin-top: var(--cp-gap--sm);
				}

				.cpl-list-item--details {
					justify-content: center;
				}
			}
		}

	}

}
