.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.align-left {
  text-align: left;
}

.ItemList {
  font-size: inherit;
}

.cpl-item_list {
  background-color: #0B0B0B;
  color: #FFFFFF;
}

.cpl-item-list--item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 24px;
}

.cpl-item-list--item--title {
  font-weight: bold;
}

.SourceList {
  font-size: inherit;
}

.cpl-source-list--source {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 24px;
}

.cpl-source-list--source--title {
  font-weight: bold;
}

.main-inner {
  color: #0B0B0B;
}
