.SourceList {
	font-size: inherit;
}

.cpl-source-list--source {
	border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
	margin-bottom: 24px;
}

.cpl-source-list--source--title {
	font-weight: bold;
}
