.filter__root {

	color: white;
	text-decoration: none;

	.MuiAccordion-root,
	.MuiAccordionSummary-expandIconWrapper {
		background-color: transparent;
		color: white;

		&.Mui-expanded {
			color: black;
		}

		.MuiAccordionSummary-root {
			max-width: 80%;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			height: 42px;
			border: 1px solid transparent;

			&.Mui-expanded {
				background-color: #E5E5E5;
				border: 1px solid #F0F0F0;
				min-height: 42px;
			}
		}
	}

	.MuiCollapse-entered {
		color: black;

		> .MuiCollapse-vertical {
			background-color: white;
			width: 210px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
		}

	} // .MuiCollapse-entered

	.filter__popular {

		.MuiAccordion-root,
		.MuiAccordionSummary-expandIconWrapper {

			.MuiAccordionSummary-root {
				max-width: 100%;
				white-space: nowrap;
			}

		}

		.MuiCollapse-entered {

			> .MuiCollapse-vertical {
				width: calc( 100% + 84px );
			}

		}

	}

} // .filter__root

.MuiDrawer-root {
	//  > .MuiPaper-root {
	// 	 padding: 24px;
	//  }

	 &.filterDrawer__popular {

		.filterDrawer__header {

			background-color: black;
			color: white;

			.filterDrawer__close {
				> button {
					color: white;
					padding-right: 18px;
				}
			}

			.filterDrawer__title {
				font-size: 1.5rem;
				margin: 18px;
				font-weight: normal;
				padding-left: 36px;
			}

		}

		.format__more,
		.format__less
		 {
			margin-top: 12px;
			float: right;
    		margin-right: 36px;

			.more__label {
				margin-right: 12px;
			}
		}

		.format__less {
			float: left;
			margin-left: 36px;
		}

		.filterDrawer__topic_container {

			>.MuiGrid-container {
				margin-top: 8px;
			}

			.MuiGrid-container {
				margin-left: 0px;
				width: 100%;
			}

			.topic__column_right {

				text-align: center;
				font-size: 1.3rem;

				.toc__alph_select {

					max-width: 40%;
					margin-left: auto;
					margin-right: auto;
					border-bottom: 2px solid #CECECE;
					line-height: 3.5rem;

					&.selected {
						font-weight: 400;
					}
				}

			}
		}

	 } // &.filterDrawer__popular


} // .MuiDrawer-root {

.filterDrawer__format,
.filterDrawer__topic {

	margin-left: 64px;
	background-color: white;
	color: black;

	.format__title {
		p {
			// font-weight: 600;
			letter-spacing: 3px;
    		padding-bottom: 22px;
		}
	}
}

.filterDrawer__format {
	max-height: 160px;
	margin-top: 38px;
}

.filterDrawer__topic {
	margin-top: 18px;
}
