$color-white: #FFFFFF;
$color-black: #0B0B0B;
$color-grey: #A7A2A9;

//:root {
//	--cpl-color--primary: #ffffff;
//	--cpl--background: linear-gradient(140deg, #2c2a2b, black 40%);
//	--cpl--text-color: #ffffff;
//}


:root {
	--cpl-color--primary: #ffffff;
	--cpl--background: transparent;
	--cpl--text-color: inherit;
}
