
.wp-block-cp-library-sermon-scripture {
	.cpl-scripture-link {
		line-height: 1.5em;
		vertical-align: top;
	}
	a.cpl-scripture-link.cpl-scripture-link {
		text-decoration: none;
		cursor: pointer;
	}
	.material-icons, .material-icons-outlined {
		font-size: 1.5em;
		float: left;
		margin-right: var(--cp-gap-base);
	}
}