.cpl-button {
	display: flex;
	align-items: center;

	svg, .material-icons-outlined {
		font-size: 1.5em;
    line-height: 0.75em;
    position: relative;
    margin: -0.25em 0.25em -0.25em -0.25em;
	}

	&--outlined {
		border: 1px solid var(--cpl-primary);
		background: transparent;
		color: var(--cpl-primary);

		&:hover, &:focus {
			border: 1px solid var(--cpl-primary);
			color: var(--cpl-primary);
			background: rgba( 0, 0, 0, .05);
		}
	}

	&--transparent {
		border: none !important;
		background: transparent !important;
		color: inherit !important;
	}
}
