.cpl-separator:last-child {
	display: none;
}

.cpl-meta,
.cpl-info {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	> * {
		margin-right: var(--cp-gap--sm);
	}

	svg, .material-icons-outlined {
		font-size: 1em;
		margin-right: .5em;
	}

	> * {
		display: inline-flex;
		align-items: center;
		flex-flow: row;
		//white-space: nowrap;
	}
}

.cpl-meta {
	margin-top: .75em;
	font-size: .875em;

	&:not(:last-child) {
		margin-bottom: .75em;
	}

	&--topics {

		&--topic {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}

			&:not(:last-child):after {
				content: ',';
				margin-right: .5em;
			}
		}
	}
}

.cpl-single {
	.cpl-meta {

	}
}
