
.wp-block-cp-library-sermon-season {
	.cpl-season-link {
		line-height: 1.5em;
		vertical-align: top;
	}
	.material-icons, .material-icons-outlined {
		font-size: 1.5em;
		float: left;
		margin-right: var(--cp-gap-base);
	}
}