
.wp-block-cp-library-sermon-season {
	.cpl-season-link {
		line-height: inherit;
	}
	a.cpl-season-link.cpl-season-link {
		text-decoration: none;
		cursor: pointer;
	}
	.material-icons, .material-icons-outlined {
		font-size: 1em;
		float: left;
		margin-right: var(--cp-gap-base);
		line-height: inherit;
		transform: scale(1.5);
	}
}