.cpl-item-card {
	width: 320px;
	background: rgba(0, 0, 0, .05);
	padding: 1rem;

	&--thumb {
		cursor: pointer;
		padding-bottom: 56.25%;
		margin: -1rem -1rem 1rem;
		background-size: cover;
		background-position: center center;
	}

	&--title {
		font-size: 1.25em;
	}

	&--meta {
		font-size: .875em;
	}
}
