.cpl-list-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 1rem;
	cursor: pointer;
	padding: 1rem;
	border-radius: .5em;

	&:hover {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(196, 196, 196, 0) 109.68%);
	}

	&--thumb {
		flex: 0 1 0;
		display: flex;
		align-items: center;
		cursor: pointer;

		&--canvas {
			width: 184px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			//background-color: rgb(196, 196, 196);
		}

		img {
			width: auto;
			height: auto;
		}
	}

	&--details {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
		justify-content: space-between;
		padding: 1rem 0;

		h3 {
			margin-top: 0;
		}

	}

	&--meta {
		margin-top: .5rem;

		> * {
			display: inline-flex;
			align-items: center;
			margin-right: 1rem;
		}
	}

	&--actions {
		display: flex;
		height: 100%;
		align-self: center;
	}

	&--actions--buttons {
		display: flex;
		align-items: center;

		> * {
			margin-left: .5rem;
		}
	}
}
