.cpl-item {
	&--actions {
		flex-shrink: 0;
	}
}

.cpl-single-item {

	&--details {
		margin-bottom: var(--cp-gap--sm);

		@include media-breakpoint-up(lg) {
			margin-right: var(--cp-gap--lg);
		}
	}

	.cpl-meta {
		white-space: nowrap;
		margin-top: 0;
		margin-bottom: var(--cp-gap--sm);

		> * {
			flex-flow: row wrap;
		}

	}

	.cpl-item--info {
		margin-bottom: var(--cp-gap--sm);
	}

	&--media {
		overflow: hidden;

		&--wrapper {
			position: relative;
			padding-top: 56.26%;
			background-color: transparent;
		}

		&--bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
		}

		img {
			max-width: 100%;
		}
	}

	&--title {
		h1 {
			font-size: var(--cp-font-size-h3);
			margin: var(--cp-gap-base) 0;
		}

		@include media-breakpoint-down(md) {
			&:after {
				content: '';
				background: var(--cpl-color--primary);
				height: 6px;
				width: 3.5em;
				margin: 1em 0;
				display: block;
			}
		}

	}

	@include media-breakpoint-up(lg) {
		&--content {
			padding-right: 10%;
			margin-right: 0;
		}

		&--media {
			//margin-top: -2rem;
			flex: 0 0 60%;
		}
	}

	@include media-breakpoint-down(md) {
		.cpl-columns {
			flex-flow: row wrap;
		}

		&--media {
			width: 100%;
		}

		&--content {
			width: 100%;
			order: 10;
		}
	}

	&--attachments {
		margin-bottom: var(--cp-gap--sm);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--cp-gap-base);

		.material-icons, .material-icons-outlined {
			font-size: var(--cp-font-size);
			margin-right: var(--cp-gap-base);
		}
	}

	&--attachment {
		.material-icons-outlined {
			font-size: var(--cp-font-size--sm);
		}
	}
}

.cpl-layout-vertical .cpl-single-item {
	&--hero {
		position: relative;
		padding: var(--cp-content-padding);
		background-color: var(--cpl-color--primary);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&--hero-overlay {
		position: absolute;
		inset: 0;
		background-color: rgba(0,0,0,.5);
	}

	&--details {
		max-width: var(--cp-content-width);
		padding: var(--cp-content-padding);
		margin: 0 auto;
	}

	&--details > *:not(&--desc) {
		text-align: center;
	}

	&--desc {
		max-width: 50em;
		margin: auto;
	}

	.cpl-meta, .cpl-info, .cpl-single-item--attachments {
		justify-content: center;
	}

	.cpl-item--info {
		margin-top: var(--cp-gap--sm);
	}

	&--back {
		width: 100%;
	}

	@include media-breakpoint-up(md) {
		.cpl-columns {
			width: min(60%, var(--cp-content-width));
			margin-left: auto;
			margin-right: auto;
			padding-left: var(--cp-content-padding);
			padding-right: var(--cp-content-padding);
		}

		&--media {
			flex-basis: 100%;
		}
	}

	.itemDetail__actions {
		justify-content: center;
		position: relative;
	}

	&--title {
		margin: var(--cp-gap--sm) auto;
	}

	&--title::after {
		margin-left: auto;
		margin-right: auto;
	}
}
