.cpl-list-type {
	margin-bottom: var(--cp-gap--md);

	&--thumb {
		cursor: pointer;
		width: 100%;

		img {
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	&--details {

		padding: 1em;
		background: rgba( 0, 0, 0, .05);

		h3 {
			font-size: var(--cp-font-size--lg);
			margin: auto;

			a {
				color: inherit;
			}
		}

	}

}
