<!-- wp:cp-library/query {"queryId":2,"query":{"perPage":3,"pages":0,"offset":0,"postType":"cpl_item","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"include":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]}} -->
<div class="wp-block-cp-library-query">
	<!-- wp:cp-library/sermon-template {"thumbnailAction":true} -->
	<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"backgroundColor":"ast-global-color-7","layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div
		class="wp-block-group has-ast-global-color-7-background-color has-background"
		style="
			padding-top: var(--wp--preset--spacing--40);
			padding-right: var(--wp--preset--spacing--40);
			padding-bottom: var(--wp--preset--spacing--40);
			padding-left: var(--wp--preset--spacing--40);
		"
	>
		<!-- wp:cp-library/item-graphic {"aspectRatio":"16/9","width":"300px"} -->
		<div class="wp-block-cp-library-item-graphic"></div>
		<!-- /wp:cp-library/item-graphic -->

		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:cp-library/item-title /-->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:cp-library/sermon-topics /-->

				<!-- wp:cp-library/sermon-series /-->

				<!-- wp:cp-library/sermon-scripture /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:cp-library/item-date /-->

				<!-- wp:cp-library/sermon-speaker /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:cp-library/sermon-actions /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	<!-- /wp:cp-library/sermon-template -->

	<!-- wp:cp-library/pagination -->
	<!-- wp:query-pagination-previous /-->

	<!-- wp:query-pagination-numbers /-->

	<!-- wp:query-pagination-next /-->
	<!-- /wp:cp-library/pagination -->
</div>
<!-- /wp:cp-library/query -->
