.cpl-separator:last-child {
	display: none;
}

.cpl-meta,
.cpl-info {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: var(--cp-gap--sm);

	> *:first-child {
		flex-shrink: 0;
	}

	svg, .material-icons-outlined {
		font-size: var(--cp-font-size);
		margin-right: var(--cp-gap-base);
		float: left;
	}

	> * {
		display: inline-flex;
		align-items: center;
	}
}

.cpl-meta {
	margin-top: var(--cp-gap-base);
	font-size: var(--cp-font-size--sm);

	&:not(:last-child) {
		margin-bottom: var(--cp-gap-base);
	}

	&--topics {

		&--topic {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}

			&:not(:last-child):after {
				content: ',';
				margin-right: var(--cp-gap-base);
			}
		}
	}
}

.cpl-single {
	.cpl-meta {

	}
}
