.cpl-single {

	&--header {
		padding-bottom: var(--cp-gap--sm);
		border-bottom: 1px solid;
		margin-bottom: var(--cp-gap--md);

		&--title {
			font-size: calc(var(--cp-font-size--lg) * 2);
		}

	}

	&--back {
		margin-bottom: var(--cp-gap--md);
		display: inline-block;

		&:before {
			content: '← ';
		}
	}
}
