
.cpl-migrate-progressbar-wrapper {
	position: relative;
	height: 30px;
	border-radius: 30px;
	overflow: hidden;
	background: #e9e9e9;

	.cpl-migrate-progressbar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: #00a0d2;
		transition: width 0.3s ease-in-out;
	}
}

.cpl-migration-cards {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
	grid-gap: 2rem;
}

.cpl-migration-card {
	padding: 2rem;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	cursor: pointer;

	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}
}

.cpl-modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0007;
	z-index: 999999;
	display: flex;
	justify-content: center;
	align-items: start;
	padding-top: 8rem;
}

.cpl-modal {
	position: relative;
	padding: 4rem;
	border-radius: 1rem;
	background: #fff;
}

.cpl-modal-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	cursor: pointer;
}