.wp-block-cp-library-sermon-actions.aligncenter {
	display: flex;
	justify-content: center;
}

.wp-block-cp-library-sermon-actions {
	div {
		display: flex;
		align-items: center;
		gap: var(--cp-gap--sm);
	
		.cpl-button {
			--cp-button--font-size: var(--cp-font-size--sm);
		}
	} 

	.cpl-list-item--actions--buttons {
		padding: 0;
	}

	.cpl-list-item--actions--buttons > * {
		margin-left: 0;
	}
}

